@charset "utf-8";

@font-face {
  font-family: "Domaine";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/WOFF/DomaineDisplayWeb-Medium.woff") format("woff"),
    url("./fonts/WOFF2/DomaineDisplayWeb-Medium.woff2") format("woff2");
}

html {
  font-size: 160%; /* Fallback: used if browser doesn't support calc() */
  font-size: calc(0.625em + 1vw + 1vh + 0.5vmin);
  font-family: Domaine, serif;
  background-color: hsl(0, 0%, 9%);
  color: hsl(0, 0%, 94.4%);
}

body {
  line-height: 1rem;
  font-size: 0.75rem;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > * + * {
  margin-top: 2rem;
}

.masthead {
  font-size: 1.414rem;
  line-height: 1.5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
  justify-content: space-between;
}

.masthead h1 {
  text-transform: uppercase;
}

.masthead h2 {
}

.logo {
  width: 100%;
}

.projects {
}

.colophon {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.colophon h3 {
  text-transform: uppercase;
}

.colophon p {
  font-size: 1rem;
}

a {
  text-decoration-color: hsla(0, 0%, 94.4%, 0.382);
}
